<launch>
	<node name="file_publisher" pkg="imagepub_waitinglist" type="file_publisher">
		<param name="file" value="/home/parallels/Desktop/Parallels Shared Folders/Home/Documents/Tracking and Detection/auto.jpeg" type="str"/>
	</node>
	<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="HarrisNodelet" args="load pluginlib_harris/HarrisNodelet standalone_nodelet" output="screen">
  		<param name="template_size" value="3" type="int"/>
		<param name="threshold" value="0.1" type="double"/>
	</node>
</launch>